* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin-top: 20px;
}

.depth {
  display: flex;
  flex: 1;
}

.diver {
  flex: 1;
  background-color: peachpuff;
  border: 1px solid #ccc; /* Optional */
}

.diver:hover {
  background-color: aqua;
}
